<header id=""top-header>
        <a href="/" title="Return to home page" class="siteName">CSE Motors</a>    
        <a title="Click to log in" href="/account/login" id="tools">My Account</a>    
</header>