<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="white-box">
        <div class="header">
            <%- include('./partials/header') %>
        </div>
        <div class="nav">
            <%- include('./partials/navigation') %>
        </div>           
  <h1>Welcome to CSE Motors!</h1>
        <img src="/images/vehicles/delorean.jpg" alt="Image of Delorean Car">

    <div class="options">
        <h3>DMC Deloran</h3>
        <h2>3 Cup Holders</h2>
        <h2>Superman doors</h2>
        <h2>Fuzzy dice!</h2>
    </div>
    
    <div class="content-section">
        <h2>Deloren Upgrades</h2>
        <div class="upgrades-grid">
            <div class="upgrade-box">
                <img src="/images/upgrades/flux-cap.png" alt="Flux-Capicitor image">
                <a href="#">Flux Capicitor</a>
            </div>
            <div class="upgrade-box">
                <img src="/images/upgrades/flame.jpg" alt="Flame image">
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade-box">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker image">
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade-box">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub cap image">
                <a href="#">Hub Caps</a>
            </div>
        </div>

        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/2)</li>
                    <li>"Coolest ride on the road." (4/2)</li>
                    <li>"I'm feeling McFly!" (4/5)</li>
                    <li>"The most futuristic ride of our day" (4/5)</li>
                    <li>"Watch out Flintstones!" (4/6)</li>
                </ul>
        </div>
        <div class="footer">
            <%- include('./partials/footer') %>
        </div>
    </div>
  </body>
</html>


