<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="white-box">
        <div class="header">
            <%- include('./partials/header') %>
        </div>
        <div class="nav">
            <%- include('./partials/navigation') %>
        </div>           
  <h1>Welcome to CSE Motors!</h1>

        <div class="footer">
            <%- include('./partials/footer') %>
        </div>
    </div>
  </body>
</html>


